@import "tailwindcss";

@theme {
  --color-olive: #606c38;
  --color-olive-dark: #283618;
  --color-creame: #fefae0;
  --color-olive-50: #E9F5DB;
  --color-olive-100: #CFE1B9;
  --color-olive-200: #B5C99A;
  --color-olive-300: #97A97C;
  --color-olive-400: #87986A;
  --color-olive-500: #718355;
}

:root {
  background-color: var(--color-olive-50);
}